@font-face {
  font-family: "iconfont"; /* Project id 4647028 */
  src: url('https://at.alicdn.com/t/c/font_4647028_g72pp6l3obc.woff2?t=1723077588773') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4647028_g72pp6l3obc.woff?t=1723077588773') format('woff'),
       url('https://at.alicdn.com/t/c/font_4647028_g72pp6l3obc.ttf?t=1723077588773') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sougou:before {
  content: "\e62f";
}

.icon-gugesousuo:before {
  content: "\ea89";
}

.icon-sousuo1:before {
  content: "\ead6";
}

.icon-biyingsousuo:before {
  content: "\e608";
}

.icon-baidu:before {
  content: "\e612";
}

.icon-sousuo:before {
  content: "\e678";
}